@page "/userinfo"

@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Welcome</h3>
<p>Name: @Name</p>
<p>Email: @Email</p>

@code {
    private string? Name;
    private string? Email;

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        Name = query["name"];
        Email = query["email"];
    }

    public class UserInfo
    {
        public string Name { get; set; }
        public string Email { get; set; }
    }
}
