@page "/userinfo"

@inject HttpClient Http
@inject NavigationManager Navigation
@inject UserState UserState

<h3>Logging in...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        UserState.SetUser(query["name"], query["email"]);
        Navigation.NavigateTo("/");
    }
}
